.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.day {
  height: 100px;
  align-items: stretch;
  justify-content: stretch;
  display: flex;
  flex-direction: column;
}

.day-events {
  display: flex;
  flex-direction: column;
}

.month-name {
  grid-column-start: span 5;
}

.cal-nav {
  grid-column-start: span 2;
}

.day:hover {
  background-color: #eee;
  cursor: pointer;
}

.selected-day {
  background-color: #eee;
}
